.trouve_ton_artisan_logo {
	height: 80px;
}

.footer {
	background: #384050;
}

#screen_background {
	height: 100vh;
	background-image: url("./assets/img/background.jpg");
	img {
		width: 50%;
	}
}
//style="font-size: 4rem; color: #666;"
